/*
 * Modifiers
 */

.center {
	text-align: center;
}

.hidden {
	display: none;
}

.muted {
	opacity: 0.6;
}

.nowrap {
	white-space: nowrap;
}

/*
 * Responsiveness
 */

@media (max-width: 639px) {
	.hidden-small {
		display: none;
	}
}

@media (min-width: 640px) {
	.hidden-large {
		display: none;
	}
}

/*
 * Year markers aligned to right
 */

body>h2 {
	text-align: right;
}

/*
 * Articles as collapsible cards
 */

details {
	background-color: inherit;
	margin-bottom: 2rem;
	border: 1px rgba(0, 0, 0, 0.6) solid;
	border-radius: 0.4rem;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
	padding: 0rem 1.5rem 0.5rem;
}

details[open] {
	padding: 0rem 1.5rem 2rem;
}

details:hover {
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.6);
}

details>summary {
	background-color: inherit;
	list-style: none;
}

details>summary:hover {
	text-decoration: none;
}

details>p>img {
	border-radius: 0.4rem
}

/*
 * Floating action button
 */

button.fab {
	position: fixed;
	bottom: 0.75rem;
	right: 0.75rem;
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
}

button.fab i {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}
