/* Typography */

/* @import url('https://fonts.cdnfonts.com/css/literata-book'); */
@font-face {
	font-display: swap;
    font-family: 'Literata Book';
    font-style: normal;
    font-weight: 400;
    src: local('Literata Book'), url('https://fonts.cdnfonts.com/s/17772/LiterataBook.woff') format('woff');
}
@font-face {
	font-display: swap;
    font-family: 'Literata Book';
    font-style: italic;
    font-weight: 400;
    src: local('Literata Book'), url('https://fonts.cdnfonts.com/s/17772/LiterataBook-Italic.woff') format('woff');
}
@font-face {
	font-display: swap;
    font-family: 'Literata Book';
    font-style: normal;
    font-weight: 500;
    src: local('Literata Book'), url('https://fonts.cdnfonts.com/s/17772/LiterataBook-Medium.woff') format('woff');
}
@font-face {
	font-display: swap;
    font-family: 'Literata Book';
    font-style: italic;
    font-weight: 500;
    src: local('Literata Book'), url('https://fonts.cdnfonts.com/s/17772/LiterataBook-MediumItalic.woff') format('woff');
}
@font-face {
	font-display: swap;
    font-family: 'Literata Book';
    font-style: normal;
    font-weight: 600;
    src: local('Literata Book'), url('https://fonts.cdnfonts.com/s/17772/LiterataBook-Semibold.woff') format('woff');
}
@font-face {
	font-display: swap;
    font-family: 'Literata Book';
    font-style: italic;
    font-weight: 600;
    src: local('Literata Book'), url('https://fonts.cdnfonts.com/s/17772/LiterataBook-SemiboldItalic.woff') format('woff');
}
@font-face {
	font-display: swap;
    font-family: 'Literata Book';
    font-style: normal;
    font-weight: 700;
    src: local('Literata Book'), url('https://fonts.cdnfonts.com/s/17772/LiterataBook-Bold.woff') format('woff');
}
@font-face {
	font-display: swap;
    font-family: 'Literata Book';
    font-style: italic;
    font-weight: 700;
    src: local('Literata Book'), url('https://fonts.cdnfonts.com/s/17772/LiterataBook-BoldItalic.woff') format('woff');
}


body {
	font-family: 'Literata Book', serif;
	font-weight: normal;
	text-wrap: pretty;
}

h1, details > summary, h3 {
	font-weight: 600;
	text-wrap: balance;
}

header > h1 > small,
header > p > small,
details > summary > small,
details > h3 > small {
	font-size: 1rem;
	font-weight: 400;
	opacity: 0.75;
}

/* Header */

header {
	border-bottom: 1px solid var(--border);
}

header > a {
	float: right;
	font-size: 1.5rem;
}

/* Content (as collapsible articles) */

details {
	background-color: inherit;
	padding: 0;
}

details[open] {
	padding: 0 0 2rem;
	border-bottom: 1px solid var(--border);
	border-radius: 0;
}

details > summary {
	background-color: inherit;
	list-style: none;
	font-size: 1.5rem;
	font-weight: 600;
}

details > summary small {
	font-family: system-ui, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

details > summary:hover {
	text-decoration: none;
}

/* Content (details) */

details > p > img {
	border-radius: 0.4rem
}

/* Footer */

footer {
	font-family: system-ui, sans-serif;
}

/* Tables */
th {
	vertical-align: bottom;
}

/* Responsiveness */

@media (max-width: 639px) {
	.hidden-small {
		display: none;
	}
}

@media (min-width: 640px) {
	.hidden-large {
		display: none;
	}
}

/* Modifier classes */

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}

.nowrap {
	white-space: nowrap;
}
