/*
 * modifiers
 */
.hidden {
	display: none;
}
.muted {
	opacity: 0.6;
}

/*
 * responsiveness
 */
@media (max-width: 639px) {
	.hidden-small {
		display: none;
	}
}
@media (min-width: 640px) {
	.hidden-large {
		display: none;
	}
}

/*
 * year markers aligned to right
 */
body > h2 {
	text-align: right;
}

/*
 * articles as collapsible cards
 */
article {
	padding: 0rem 1.5rem 0.5rem;
	margin-bottom: 2rem;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4);
	border-radius: 0.4rem;
	border: 1px rgba(0,0,0,0.6) solid;
}
article:hover {
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.6);
}
article > input + header > label {
	cursor: pointer;
}
article > input + header + section {
	display: none;
}
article > input:checked + header + section {
	display: block;
}
article > section img {
	border-radius: 0.4rem
}
article > section p.center {
	text-align: center;
}

/*
 * permalinks
 */
article > input + header > label a.permalink {
	display: none;
}
article > input:checked + header > label a.permalink {
	display: inline;
}

/*
 * floating action button
 */
button.fab {
	position: fixed;
	bottom: 0.75rem;
	right: 0.75rem;
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.4);
}
button.fab i {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}
